.api-meta-version {
  color: var(--modern-c-brand);
  font-size: 1rem;
}
.api-meta-stability {
  font-size: 1.2rem;
  background-color: #5a8147;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
}
